<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h1 class="display-3 text-center">Your New Home</h1>
            <br>
            <div class="info-form">
                    <form [formGroup]="searchForm"(ngSubmit)="onSubmit(searchForm)" class="form-inline justify-content-center" novalidate>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" placeholder="Search for..." formControlName="searchKey">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="submit">Go!</button>
                            </span>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>