<div class="loader" *ngIf="isLoading$ | async">
        <mat-progress-bar mode="indeterminate" color = "accent" style="position: absolute;top: 55px;"></mat-progress-bar>
    </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-xs-12 offset-sm-2">
      <div class="input-group">
        <input type="number" #price name="price" [(ngModel)]="filter.price" class="form-control" placeholder="Price" aria-describedby="basic-addon1">
        <span class="input-group-addon" id="basic-addon1">INR</span>
      </div>
      <br>
    </div>
      <div class="col-sm-4 col-xs-12">
      <div class="input-group">
        <input type="text" #title name="name" [(ngModel)]="filter.name" class="form-control" placeholder="Title" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">Product Name</span>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let product of this.productListArr | product:filter">
      <div class="col-sm-4 col-lg-3 col-xs-6">
        <div class="card card-outline-success" style="height:400px">
          <img class="card-img-top" src="{{product.imageUrl}}" alt="{{product.name}}">
          <div class="card-block">
            <p class="card-text"><b>Category</b> : {{product.categoryName}}</p>
            <p class="card-text"><b>Name</b> : {{product.name}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Price</b> : {{product.price}} INR</li>
          </ul>
          <div class="card-block">
            <a href="{{product.itemUrl}}" class="card-link">Actual Link</a>
          </div>
        </div>
        <br>
      </div>
    </ng-container>
  </div>
</div>